@import './minireset.min.css';

.inner-wrapper {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
h7 {
  font-size: 0.75rem;
}
